<div class="container m-5">
    <div class="card p-3">
        <h2 class="mb-3 pb-2 text-center border-bottom color-custom" >Edit car: {{car.model}}</h2>
        <form #carFrom="ngForm" (ngSubmit)="onSubmit()" *ngIf="car">
            <div class="input-group mb-3">
                <span class="input-group-text">Price for a day</span>
                <input class="form-control" type="number" name="priceForADay" [(ngModel)]="car.priceForADay"
                    placeholder="Enter price in eur" required>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Insurance</span>
                <div class="form-check form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="withInsurance" id="withInsuranceTrue" 
                        [value]="true" [(ngModel)]="car.withInsurance" (change)="onChangedInsurance(true)">
                    <label class="form-check-label" for="withInsuranceTrue">Yes</label>
                </div>
                <div class="form-check form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="withInsurance" id="withInsuranceFalse"
                        [value]="false" [(ngModel)]="car.withInsurance" (change)="onChangedInsurance(false)">
                    <label class="form-check-label" for="withInsuranceFalse">No</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Air conditioner</span>
                <div class="form-check form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="withAirConditioner" id="withAirConditionerTrue"
                        [value]="true" [(ngModel)]="car.withAirConditioner" (change)="onChangedConditioner(false)">
                    <label class="form-check-label" for="withAirConditionerTrue">Yes</label>
                </div>
                <div class="form-check form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="withAirConditioner" id="withAirConditionerFalse"
                        [value]="false" [(ngModel)]="car.withAirConditioner" (change)="onChangedConditioner(false)">
                    <label class="form-check-label" for="withAirConditionerFalse">No</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text text-muted">Seats</span>
                <div class="form-check form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="seats" id="seatsTwo"
                        value="two" [(ngModel)]="car.seats" disabled> 
                    <label class="form-check-label" for="seatsTwo">Two</label>
                </div>
                <div class="form-check form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="seats" id="seatsFive"
                        value="five" [(ngModel)]="car.seats" disabled>
                    <label class="form-check-label" for="seatsFive">Five</label>
                </div>
                <div class="form-check form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="seats" id="seatsNine"
                        value="nine" [(ngModel)]="car.seats" disabled>
                    <label class="form-check-label" for="seatsNine">Nine</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text text-muted">Transmission</span>
                <div class="form-check form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="transmission" id="transmissionManual"
                        value="manual" [(ngModel)]="car.transmission" disabled>
                    <label class="form-check-label" for="transmissionManual">Manual</label>
                </div>
                <div class="form-check form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="transmission" id="transmissionAutomatic"
                        value="automatic" [(ngModel)]="car.transmission" disabled>
                    <label class="form-check-label" for="transmissionAutomatic">Automatic</label>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-custom form-control p-2">
                    Edit
                </button>
            </div>
        </form>
    </div>
</div>