a:hover:not(.hello-user) {
    transition: backgroud-color 1.3s;
    background-color: #f5856c;
    border-radius: 10px;
    color: white;
}

.color-custom {
    color: #e15232;
}

.btn-custom {
    background-color: #e15232;
    color: white;
}

.btn-custom:hover {
    background-color: #f5856c;
}

#logo{
    max-height: 150px;
    width: 150px;
}
