a:hover:not(.hello-user) {
    transition: backgroud-color 1.3s;
    background-color: #f5856c;
    border-radius: 10px;
    color: white;
}

nav {
    width: 100%;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2); */
}

.color-custom {
    color: #e15232;
}

.btn-custom {
    background-color: #e15232;
    color: white;
}

.btn-custom:hover {
    background-color: #f5856c;
}