p {
    text-shadow: 0 0 7px rgba(255, 255, 255, .3), 0 0 3px rgba(255, 255, 255, .3);
}

.box {
    text-transform: uppercase;
    height: 30vh;
    display: flex;
    font-size: 2.26rem;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', monospace;
    font-weight: 500;
    color: #212529;
    letter-spacing: normal;
}

.animation {
    height: 50px;
    overflow: hidden; 
    margin-left: 1rem;
    color: white;
}

.animation>div>div {
    padding: 0rem 1.2rem; 
    height: 2.9rem;
    margin-bottom: 2.81rem;
    display: inline-block;
}
    
.animation div:first-child {
    animation: text-animation 8s infinite;
}

.first div {
    background-color: #e15232;

}

.second div {
    background-color: #FDA50F;
}
    
.third div {
    background-color: #e1754b;
}

@keyframes text-animation {
    0% {
        margin-top: 0;
    }
    10% {
        margin-top: 0;
    }
    20% {
        margin-top: -5.62rem;
    }
    30% {
        margin-top: -5.62rem;
    }
    40% {
        margin-top: -11.24rem;
    }
    60% {
        margin-top: -11.24rem;
    }
    70% {
        margin-top: -5.62rem;
    }
    80% {
        margin-top: -5.62rem;
    }
    90% {
        margin-top: 0;
    }
    100% {
        margin-top: 0;
    }  
}

.custom-color {
    color: #e15232;
}

.moto {
    font-size: 10vh;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.3;
    font-family: 'Lato', sans-serif;
}

.main-text {
    font-size: 1.5rem;
    text-indent: 3rem;
    text-align: justify;
}

.main-text::after {
    content: "";
    display: block;
    width: 120%;
    height: 5px;
    background-color: #e15232;
    margin-top: 30px;
    margin-left: -19%;
}

.second-text {
    font-size: 5vh;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    font-family: 'Lato', sans-serif;
}

.faq-section {
    background: #fdfdfd;
    padding: 10vh 1vh 10vh;
}
.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}
.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #e15232;
    bottom: -25px;
    margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: rgba(255, 140, 0, 0.5);
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  /* float: left; */
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #e15232;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}