<div class="container d-flex m-auto justify-content-center align-items-center">
    <div class="card py-3 px-5">
        <h2 class="m-2 pb-3 text-center">Enter dates for your rental</h2>
        <form #searchForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="input-group mb-3">
                <span class="input-group-text">Pick Up Date</span>
                <input class="form-control" type="datetime-local" name="pickUpDate" min="{{todayDate}}" [(ngModel)]="pickUpDate" required>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Drop Off Date</span>
                <input class="form-control" type="datetime-local" name="dropOffDate" min="{{todayDate}}" [(ngModel)]="dropOffDate" required>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-custom form-control fw-bold p-2">
                    Search
                </button>
            </div>
        </form>
    </div>
</div>