<div class="container">
    <div class="d-flex justify-content-center box">
        <div>
            <div>
                <h1 class="display-3 title">Rent a car in a few clicks! </h1>
                <h3 class="text-secondary"> We have great offers for rentals.</h3>
                <h5 class="text-secondary"> Book now and pay when you pick up the car.</h5>
            </div>

            <div class="mt-4">
                <a class="fw-bold p-3 mx-5" routerLink="/search" *ngIf="currentUser?.role=='USER'">Rent now</a>
                <a class="fw-bold p-3 mx-5" routerLink="/cars" *ngIf="currentUser?.role!='USER'">All cars</a>
                <a class="fw-bold p-3" routerLink="/locations">Locations</a>
            </div>

        </div>
        <div class="">
            <img src="../../../assets/background.png">
        </div>
    </div>
</div>