<div class="d-flex align-items-center justify-content-center box">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="moto-group">
                    <h1 class="moto">Discover <span class="custom-color">Skopje</span></h1>
                    <h1 class="moto">on <span class="custom-color">wheels.</span></h1>
                </div>
                <h3 class="text-secondary pt-3"> Rent a Car and Unleash Your Adventure. Unlock the Freedom to Roam the
                    City at Your Own Pace</h3>
                <ul class="d-flex justify-content-center menu SMN_effect-20">
                    <li> <a class="fw-bold mx-4" routerLink="/search" *ngIf="currentUser?.role=='USER'">Rent now</a>
                    </li>
                    <li> <a class="fw-bold mx-4" routerLink="/cars" *ngIf="currentUser?.role!='USER'">All cars</a>
                    </li>
                    <li> <a class="fw-bold mx-4" routerLink="/locations">Locations</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 col-lg-6">
                <img src="../../../assets/background.png" class="img-fluid">
            </div>
        </div>
    </div>
</div>