<div class="container d-flex m-auto justify-content-center align-items-center">
    <div class="card p-4">
        <h2 class="mb-3 pb-2 text-center border-bottom color-custom">Write a review</h2>

        <app-rating [rating]="rating" (ratingUpdated)="onRatingChanged($event)"></app-rating>

        <form (ngSubmit)="onSubmit()">

            <div class="form-group">
                <button type="submit" class="btn btn-custom form-control p-2">
                    Post
                </button>
            </div>

        </form>
    </div>
</div>